@import '../../../../styles/_palette';
@import '../../../../styles/_variables';

.container {
  .title {
    font-size: 28px;
    text-align: left;
  }

  .date {
    background-color: $primary;
    border-radius: $radius;
    color: white;
    padding: 8px 0;

    div:first-child {
      font-size: 24px;
    }

    &.secondary {
      background-color: $secondary;
    }
  }
}
