@import '../../../styles/_palette';

.home {
  display: flex;
  font-weight: bold;
  height: 100%;
  min-height: 100vh;
  text-align: center;
  width: 100%;

  section {
    background-color: $light-gray;
    flex: 1;
  }
}
