@import '../../../styles/_palette';

.home {
  display: flex;
  height: 100vh;
  text-align: center;
  width: 100%;

  section {
    background-color: $light-gray;
    flex: 1;
    overflow-y: auto;
    padding: 8px;
  }
}
