@import '../../../../styles/_palette';
@import '../../../../styles/_variables';

.nav {
  box-sizing: border-box;
  flex: 0 0 320px;
  min-height: 720px;
  position: relative;

  header {
    margin: 36px 36px 0;
  }

  footer {
    bottom: 5px;
    height: 134px;
    position: absolute;
    img {
      width: 100%;
    }
  }

  .logo {
    width: 100%;
  }

  ul {
    list-style: none;
    padding-left: 56px;
    text-align: left;

    li {
      position: relative;
    }
  }
}

a {
  color: $foreground;
  font-size: 36px;
  font-weight: 100;
  line-height: 2;
  text-decoration: none;

  &:visited {
    color: $foreground;
  }

  &:hover {
    color: $primary-light;
  }

  &.active {
    color: $primary;
  }
}
