@import '../../../styles/_palette';
@import '../../../styles/_variables';

.section {
  &,
  & > form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo {
    height: 250px;
    margin-bottom: 30px;
    margin-top: 60px;
  }

  .footer {
    background: url(../../../assets/logInGrass.png);
    bottom: 0;
    height: 176px;
    opacity: 0.7;
    width: 100%;
  }

  span {
    display: inline-block;
    height: 24px;
    text-decoration: none;

    &:visited {
      color: inherit;
    }
  }
}
