@import '../../../styles/_palette';
@import '../../../styles/_variables';

.container {
  font-size: 32px;

  button {
    border: 0;
    border-radius: 25px;
    background-color: $light-gray;
    cursor: pointer;
    font-size: inherit;
    outline: none;
    overflow: visible;
    position: relative;
    vertical-align: middle;

    span {
      line-height: 1;
      vertical-align: top;
    }

    &:disabled {
      cursor: default;
    }

    &:hover {
      background-color: lightgray;
    }
  }
}
