@import '../../../styles/_palette';
@import '../../../styles/_variables';

.container {
  border: 1px solid $dark-gray;
  border-radius: $radius;
  margin: 0 auto;
  max-width: $max-width;

  header {
    display: flex;
    justify-content: center;
  }
}
