@import '../../styles/_palette';
@import '../../styles/_variables';

.section {
  &,
  & > form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo {
    height: 250px;
    margin-bottom: 30px;
    margin-top: 80px;
  }

  .logInGrass {
    bottom: 0;
    left: 0;
    opacity: 0.8;
    position: absolute;
    width: 100vw;
  }

  .footer {
    background: url(../../assets/logInGrass.png);
    bottom: 0;
    height: 176px;
    position: absolute;
    width: 100%;
  }

  span {
    text-decoration: none;
    &:visited {
      color: inherit;
    }
  }
}
