@import '../../../styles/_palette.scss';
@import '../../../styles/_variables.scss';

.button {
  background-color: $light-gray;
  border: 0;
  border-radius: $radius;
  cursor: pointer;
  font-family: bebas-neue;
  font-size: 28px;
  margin-right: 16px;
  padding: 8px;
  text-transform: uppercase;

  &:hover {
    background-color: white;
  }
}
