$primary: #F46818;
$primary-light: #EA983E;
$primary-50: rgba(244, 104, 24, 0.5);

$secondary: #55AC37;
$secondary-light: #B2D07E;
$secondary-50: rgba(85, 172, 55, 0.5);

$light-gray: #F8F8F8;
$foreground: #000000;
