$primary: #F46818;
$primary-light: #E57218;
$primary-50: rgba(244, 104, 24, 0.5);

$secondary: #55AC37;
$secondary-light: #B2D07E;
$secondary-50: rgba(85, 172, 55, 0.5);

$dark-gray: #BDBCBB;
$medium-gray: #C6CBD1;
$light-gray: #F8F8F8;
$foreground: #000000;
