$radius: 6px;
$max-width: 1024px;

// breakpoints
$mobile-breakpoint: 449px; // mobile: from 0 to 448
$tablet-portrait-breakpoint: 769px; // ipad portrait: from 449 to 768
$tablet-landscape-breakpoint: 1025px; // ipad landscape: from 769 to 1024
$desktop-breakpoint: 1281px; // desktop: from 1025 to 1280
$desktop-content-width: 960px;
